@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Varela';
    src: url('/fonts/VarelaRound-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@layer base {
    :root {
        --light-blue: 214 242 255;
        --light-orange: 255 228 199;
        --light-red: 255 204 210;
    }
}